Package: com.cabralcole.invertrespring
Name: InvertRespring
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Invert respring and boot logo.
Maintainer: cabralcole
Author: cabralcole
Section: Tweaks
